html{
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(darkcyan, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* margin-top: -700px; */
}

.ring {
    width: 200px;
    height: 200px;
    border: 0px solid black;
    border-radius: 50%;
    position: absolute;
    /* z-index: -1; */
    top: -120px !important;
}

.ring:nth-child(1) {
    border-bottom-width: 8px;
    /* border-color: rgb(255, 0, 255); */
    border-color: rgba(0, 0, 0, 0.327);
    animation: rotate 2s linear infinite;
}

.ring:nth-child(2) {
    border-bottom-width: 8px;
    /* border-color: rgb(0, 247, 255); */
    border-color: rgba(0, 0, 0, 0.327);
    animation: rotate2 2s linear infinite;
}

.ring:nth-child(3) {
    border-bottom-width: 8px;
    /* border-color: rgb(0, 255, 13); */
    border-color: rgba(0, 0, 0, 0.327);
    animation: rotate3 2s linear infinite;
}


.click1 img{
    position: absolute;
    width: 80px;
    height: 80px;
    /* margin-left: -3%; */
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -64px;
    z-index: 1;
}

@keyframes rotate {
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* 
.popup {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 20px;
    background: black;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
    transition: top 0ms ease-in-out 300ms;

    -webkit-text-stroke: 0px;
    -webkit-text-fill-color: red;
}

.popup > * {
    margin: 15px 0px;
}

.popup .close-btn {
    position: absolute;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: #eee;
    color: #111;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
}

body.active-popup {
    overflow: hidden;
}

body .active-popup .Mondstadt {
    filter: blur(5px);
    background: rgba(0, 0, 0, 0.08);
    transition: filter 0ms ease-in-out 0ms;
}

body .active-popup .popup {
    top: 50%;
    opacity: 1;
    margin-top: 0px;
    transition: top 0ms ease-in-out 0ms;
} */

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: inherit;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
}

.popup .content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    width: 450px;
    height: 220px;
    z-index: 11;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    -webkit-text-stroke: 0px;
    color: #fdfdfd;
    font-family: 'Aclonica', sans-serif;
    overflow: auto;
}

.close-btn {
    cursor: pointer;
}

.popup .judul{
    font-family: 'Aclonica', sans-serif;
}

.Liyue .popup .content {
    /* top: 1620px; */
    top: 295%;
}

.Inazuma .popup .content {
    top: 440%;
}

.Sumeru .popup .content {
    top: 590%;
}

.popup .content .judul {
    margin-bottom: 20px;
    font-size: 30px;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 24px;
    width: 30px;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    ;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);

}

.putih{ 
    width: 100%;
    height: 40vh;
    margin-top: 51px;
    padding-bottom: 0;
    bottom : 0;
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.463), rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 1));
}

.Liyue .putih{
    margin-top: 141px;
}

.Inazuma .putih{
    margin-top: 141px;
}

.Sumeru .putih{
    margin-top: 141px;
}

/* .p1 {
    height: 5vh;
    background-color: white;
    opacity: 0%;
}

.p2 {
    height: 5vh;
    background-color: white;
    opacity: 20%;
}

.p3 {
    height: 5vh;
    background-color: white;
    opacity: 40%;
}

.p4 {
    height: 5vh;
    background-color: white;
    opacity: 60%;
}

.p5 {
    height: 5vh;
    background-color: white;
    opacity: 80%;
} */

#MONDSTADT {
    margin-top: 8%;
    position: absolute;
    width: 100%;
    height: 10vh;
}

#LIYUE {
    margin-top: 15%;
    position: absolute;
    width: 100%;
    height: 10vh;
}

#INAZUMA {
    margin-top: 15%;
    position: absolute;
    width: 100%;
    height: 10vh;
}

#SUMERU {
    margin-top: 15%;
    position: absolute;
    width: 100%;
    height: 10vh;
}

.Mondstadt {
    position: relative;
    /* z-index: -2; */
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Assets/maps/mondstadt_bg-removebg-preview-removebg-preview.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5, ), url(Assets/maps/mondstadt_bg-removebg-preview-removebg-preview.png));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 115vh;
    overflow: hidden;
    font-family: 'Inria Sans', sans-serif;
    color: transparent;
    -webkit-text-stroke: 5px black;
    transition: all 0.50s ease;
    /* filter: brightness(50%); */
}

/* .Mondstadt:hover {
    filter: brightness(100%);
    transition: all 0.50s ease;
} */

.Mondstadt h1{
    text-align: left;
    z-index: -10;
    margin-top: 0%;
    margin-left: 0%;
    /* top: 0; */
    opacity: 30%;
    font-size: 300px;
    font-family: 'Inria Sans', sans-serif;
}

.Liyue {
    margin-top: 15%;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Assets/maps/liyue_bg-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 115vh;
    overflow: hidden;
    font-family: 'Inria Sans', sans-serif;
    color: transparent;
    -webkit-text-stroke: 5px black;
    /* opacity: 30%; */
}

.Liyue h1{
    text-align: left;
    z-index: -1;
    margin-top: -7%;
    margin-left: 0%;
    opacity: 30%;
    font-size: 300px;
    font-family: 'Inria Sans', sans-serif;
}

.Inazuma {
    margin-top: 15%;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Assets/maps/inazuma_bg-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 115vh;
    overflow: hidden;
    font-family: 'Inria Sans', sans-serif;
    color: transparent;
    -webkit-text-stroke: 5px black;
    /* opacity: 30%; */
}

.Inazuma h1{
    text-align: left;
    z-index: -1;
    margin-top: -7%;
    margin-left: 0%;
    opacity: 30%;
    font-size: 300px;
    font-family: 'Inria Sans', sans-serif;
}

.Sumeru {
    margin-top: 15%;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Assets/maps/sumeru_bg-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 115vh;
    overflow: hidden;
    font-family: 'Inria Sans', sans-serif;
    color: transparent;
    -webkit-text-stroke: 5px black;
    /* opacity: 30%; */
}

.Sumeru h1{
    text-align: left;
    z-index: -1;
    margin-top: -7%;
    margin-left: 0%;
    opacity: 30%;
    font-size: 300px;
    font-family: 'Inria Sans', sans-serif;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 30%;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 30%;
}

@media screen and (max-width: 1000px) {
    .Mondstadt .popup .content {
        top: 370px;
    }

    .Liyue .popup .content {
        /* top: 1620px; */
        top: 300%;
    }

    .Liyue .putih{
        margin-top: 55px;
    }
    
    .Inazuma .putih{
        margin-top: 55px;
    }
    
    .Sumeru .putih{
        margin-top: 55px;
    }
}

@media screen and (max-width: 900px) {
    .Liyue .popup .content {
        /* top: 1620px; */
        top: 290%;
    }
    
    .Sumeru .popup .content {
        top: 575%;
    }

    .Inazuma .popup .content {
        top: 430%;
    }
}


@media screen and (max-width: 810px) {
    .Liyue .popup .content {
        /* top: 1620px; */
        top: 280%;
    }
    
    .Inazuma .popup .content {
        top: 430%;
    }
    
    .Sumeru .popup .content {
        top: 570%;
    }
    
    .Liyue .putih{
        margin-top: 42px;
    }
    
    .Inazuma .putih{
        margin-top: 42px;
    }
    
    .Sumeru .putih{
        margin-top: 42px;
    }

}

@media screen and (max-width: 750px) {
    .Liyue .popup .content {
        /* top: 1620px; */
        top: 280%;
    }
    
    .Inazuma .popup .content {
        top: 420%;
    }
    
    .Sumeru .popup .content {
        top: 555%;
    }
}

@media screen and (max-width: 650px) {
    .Mondstadt .popup .content {
        top: 370px;
    }

    .Liyue .popup .content {
        /* top: 1620px; */
        top: 1250px;
    }
    
    .Inazuma .popup .content {
        top: 410%;
    }
    
    .Sumeru .popup .content {
        top: 540%;
    }

    .Liyue .putih{
        margin-top: 31px;
    }
    
    .Inazuma .putih{
        margin-top: 31px;
    }
    
    .Sumeru .putih{
        margin-top: 31px;
    }
}

@media screen and (max-width: 650px) {
    .Inazuma .popup .content {
        top: 1870px;
    }
    
    .Sumeru .popup .content {
        top: 2500px;
    }
}

@media screen and (max-width: 650px) {    
    .Sumeru .popup .content {
        top: 2500px;
    }
}

@media screen and (max-width: 550px) {    
    .Sumeru .popup .content {
        top: 2450px;
    }
}

@media screen and (max-width: 500px) {  
    .Liyue .popup .content {
        /* top: 1620px; */
        top: 1200px;
    }

    .Inazuma .popup .content {
        top: 1800px;
    }
    
    .Sumeru .popup .content {
        top: 2400px;
    }
}

@media screen and (max-width: 450px) {
    .content{
        width: 300px !important;
    }

    .Liyue .putih{
        margin-top: 15px;
    }
    
    .Inazuma .putih{
        margin-top: 15px;
    }
    
    .Sumeru .putih{
        margin-top: 15px;
    }
}
